@model IEnumerable<MusicService.ViewModels.AlbumViewModel>

@{
    ViewBag.Title = "Index";
}

<h2></h2>


<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success"})
    @using (Html.BeginForm("Index", "Album", FormMethod.Get, new {@class="form-inline"})){
        <div class="form-group">
            <label>Title</label> 
            @Html.TextBox("searchAlbum", null, new {@class = "form-control", @style="width: auto"})
        </div>
        <button type="submit" class="btn btn-default">Filter</button>

    } 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Band)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Band)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class = "btn btn-info"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
